* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1250px;
    min-width: 1250px;
    margin: auto;
    font-family: Roboto;
    background-color: black;
}

.header {
    background-color: #1F2937;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px;
    height: 400px;
    width: 1000px;
    margin: auto;
    margin-bottom: 0;
}

.marg-left {
    margin-left: 90px;
}

.marg-right{
    margin-right: 90px;
}

.header h5 {
    font-weight: 800;
    font-size: 24px;
    margin-top: 10px;
    color: #F9FAF8;
}

.head-description h2 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.head-description p {
    font-size: 18px;
    color: #E5E7EB;
}

.tabs {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

.header button {
    background-color: #3882f6;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 15%;
    margin-top: 15px;
}

.header .image {
    background-color: rgb(91, 100, 109);
    width: 400px;
    height: 200px;
    margin-left: 30px;
}

.header .image div {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.middle {
    background-color: white;
    width: 1000px;
    margin: auto;
    margin-top: 0px;
}

.middle h4 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    width: 500px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 30px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 700px;
    margin: auto
}

.illustrate {
    border: 4px solid blue;
    border-radius: 15%;
    height: 120px;
    width: 140px;
}

.subtext {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
    width: 700px;
    margin: auto;
    margin-top: 7px;
}

.quote {
    height: 500px;
    width: 1000px;
    margin: auto;
    background-color: #E5E7EB;
    padding: 130px;
    margin-top: 50px;
}

.quote p {
    font-size: 32px;
    color: #1F2937;
    font-weight: 300;
    width: 750px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

#thor p {
    font-weight: 900;
}

.signup {
    width: 750px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    color: white;
    margin-top: 100px;
    height: 75px;
    padding: 20px;
    border-radius: 10px;
}

.signup p {
    font-size: 14px;
    margin-top: 5px;
}

.signup button {
    background-color: #3882f6;
    border-color: white;
    border-radius: 10px;
    outline: 0;
    width: 120px;
    color: white;
}